#create-gps-container {
    justify-content: center;
    align-items: center;
    padding: 0.5em 0;
    > button {
        margin-left: 0.5em;
    }
}

.tab-icon {
    margin-right: 0.25em;
}

.loading-card {
    width: 30em;
}
