#create-gps-container {
    justify-content: center;
    align-items: center;
    padding: .5em 0;
    > button {
        margin-left: .5em;
    }
}

.tab-icon {
    margin-right: .25em;
}

.loading-card {
    width: 30em;
}

.ml-1em {
    margin-left: 1em;
}

.w-3em {
    width: 3em;
}

.my-2em {
    margin-top: 2em;
    margin-bottom: 2em;
}

.flex-button {
    flex-shrink: 0;
}

#skeleton {
    margin: 0 auto;
    width: 70%;
    max-width: 30em;
}

button {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}