<mat-toolbar color="primary">
    <div class="title">
        <div class="title-part-1">exif</div>
        <div class="title-part-2">editor</div>
    </div>
    <span class="spacer"></span>
    <div *ngIf="darkMode; else lightMode" class="flex-container">
        <mat-icon class="dark-mode-icon" matTooltip="Dark mode">dark_mode</mat-icon>
    </div>
    <ng-template #lightMode>
        <div class="flex-container">
            <mat-icon class="dark-mode-icon" matTooltip="Light mode">light_mode</mat-icon>
        </div>
    </ng-template>
    <mat-slide-toggle [(ngModel)]="darkMode" (change)="darkModeChange($event.checked)"> </mat-slide-toggle>
</mat-toolbar>
<div class="main-content">
    <router-outlet></router-outlet>
</div>
