$navbar_size: 64px;
$mobile_navbar_size: 56px;
$dir_select_icon_size: 30px;
$title-part1-color: #E0E0E0;
$title-part2-color: #9E9E9E;

#settings-button {
    margin-top: auto;
}

#nav-list {
    height: calc(100% - 10px);
    display: flex;
    flex-direction: column;
}

.button {
    background: inherit;
    border: none;
    color: inherit;
    outline: inherit;
}

.button:active {
    filter: brightness(80%);
}

.spacer {
    flex: 1 1 auto;
}

.title {
    position: relative;
    height: 50px;
    width: 100px;

    > div {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .5s ease-in-out;
    }

    &:hover {
        .title-part-1 {
            bottom: 0;
            right: 1.25em;
            color: $title-part2-color;
        }
    
        .title-part-2 {
            top: 0;
            left: 1em;
            color: $title-part1-color;
        }
    }

    .title-part-1 {
        bottom: .5em;
        right: 0;
        color: $title-part1-color;
    }

    .title-part-2 {
        top: .25em;
        left: 1em;
        color: $title-part2-color;
    }
}

.sidenav {
    user-select: none;
    max-width: 15em;
}

.nav-span {
    margin-left: 5px;
    width: 100%;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    height: calc(100% - #{$navbar_size});
    align-items: center;
    @media only screen and (max-width: 600px) {
        height: calc(100% - #{$mobile_navbar_size});
    }
}

#hamburger {
    margin-right: 1em;
}

.dark-mode-icon {
    margin-right: .25em;
}
