$app-primary: #445963;
$title-part2-color: #9e9e9e;

#title-part-2 {
    color: $title-part2-color;
}

#home-img {
    width: 400px;
    margin-left: 3em;
    display: flex;
}

#main-container {
    height: 100%;
}

#home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 2;
}

#img-container {
    display: flex;
}

#jumbotron {
    h1 {
        font-size: 3rem;
        font-weight: 100;
    }

    h3 {
        margin: 0.2em;
    }

    hr {
        border: 1px solid $app-primary;
        width: 100%;
    }
}

.img-container {
    align-items: center;
    justify-content: center;
    align-content: space-between;
    padding: 3em;

    > img {
        margin-bottom: 0.5em;
        &:hover {
            filter: brightness(110%);
            transform: scale(1.01);
            transition: all 0.3s ease-in-out;
        }
    }
}


