<div id="main-container" class="flex-container">
    <div *ngIf="!image; else imageSelected" id="home-container" class="flex-stretch">
        <div id="jumbotron" class="flex-container">
            <h1>Welcome</h1>
            <h3>
                <span>exif</span> <span id="title-part-2">editor</span> is a free web tool for editing EXIF metadata
            </h3>
            <h3>upload images change their location and much more...</h3>
            <hr />
        </div>
        <div class="img-container">
            <img id="home-img" src="assets/home-photo.svg" />
        </div>
    </div>
    <ng-template #imageSelected>
        <image [imageName]="imageName" [imageUrl]="imageUrl"> </image>
    </ng-template>
    <file-upload></file-upload>
</div>
