<div id="main-container" class="flex-container">
    <div *ngIf="!image; else imageSelected" id="home-container" class="flex-stretch">
        <div id="jumbotron" class="flex-container">
            <h1>Welcome</h1>
            <h3>
                <span>exif</span> <span id="title-part-2">editor</span> is a free web tool for editing EXIF metadata
            </h3>
            <h3>upload images change their location and much more...</h3>
            <hr />
        </div>
        <div id="img-container flex-stretch">
            <img id="home-img" src="assets/home-photo.svg" />
        </div>
    </div>
    <ng-template #imageSelected>
        <div class="flex-container flex-stretch img-container">
            <img [src]="imageUrl" />
            <div class="img-name">
                <label>{{ image?.name }}</label>
            </div>
            <div id="img-button-bar" class="flex-row">
                <button mat-raised-button color="primary" (click)="editExif()">Edit</button>
                <button mat-raised-button color="warn" (click)="deleteImg()">Delete</button>
            </div>
        </div>
    </ng-template>
    <file-upload></file-upload>
</div>
