body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.view {
    height: 100%;
    width: 100%;
    overflow: auto;
}

// https://github.com/angular/components/issues/4803

.mat-slider-thumb-label {
    transform: rotate(45deg) !important;
    border-radius: 50% 50% 0 !important;
}

.mat-slider-thumb {
    transform: scale(0) !important;
}

.mat-slider-thumb-label-text {
    opacity: 1 !important;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-stretch {
    display: flex;
    flex: 1;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.mat-tab-stretch {
    flex: 1;

    > .mat-tab-body-wrapper {
        flex: 1;
    }
}

.mat-tab-center .mat-tab-body-wrapper .mat-tab-body .mat-tab-body-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.light-theme .button-bar {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.button-bar {
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    justify-content: flex-end;
    padding: .5em 2em;
    
    > button {
        margin-right: 5px;
    }
}