<div class="flex-container flex-stretch">
    <div
        class="droparea flex-stretch"
        (dragover)="isActive = true"
        (drop)="onDrop($event)"
        (dragleave)="isActive = false"
        [class.active]="isActive"
    >
        <input
            #fileInput
            type="file"
            class="browse-file"
            title=" "
            (click)="fileInput.value = ''"
            (change)="onSelectedFile($event)"
        />
        <div>Choose files or Drag and drop files here</div>
    </div>
</div>
